li{
    list-style: none;
}

a:link{
    color: blue;
}

a:visited{
    color: red;
}

a:active{
    background-color: yellow;
}

a:hover{
    text-transform: uppercase;
    font-weight: bold;
    color: blue;
    background-color: yellow;
}