li{
    list-style: none;
}

a:link{
    color: blue;
    text-decoration: none;
}

a:visited{
    color: red;
}

a:active{
    background-color: yellow;
}

a:hover{
    text-transform: uppercase;
    font-weight: bold;
    color: blue;
    background-color: yellow;
}

a.Carro{
    color: #fb0;
}

a.Motos{
    color: #f00;
}

#c1{
    color: blue;
}

#c2{
    color: red;
}

#s1{
    color: yellow;
}

#s2{
    color: green;
}