.sriracha-regular {
    font-family: "Sriracha", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
body{
    background: linear-gradient(to top, #8a4f0d, 55%, #441b23);
    background-attachment: fixed;
    margin: 0;
}

div#card{
    position: relative;
    height: 440px;
    width: 280px;
    background-color: #d18118c7;
    margin: auto;
    margin-top: 3.7%;
    border-radius: 5px;
    text-align: center;
    padding: 0;
    box-shadow: 15px 15px 40px #0f0f0f;
}

div#card:hover{
    transform: scale(1.1);
    transition: .5s;
    background-color: #441b23;
}

img.Goku{
    position: relative;
    width: 96%;
    height: 75.5%;
    border-radius: 5px;
    margin-top: 4px;
}

div.atributos{
    position: relative;
    background-color: #fefee2;
    width: 96%;
    height: 20%;
    border-radius: 5px;
    margin: 5px auto;
    padding-bottom: 3px;
}

div.sobre{
    position: relative;
    background-color: #fefee2;
    width: 96%;
    height: 98.5%;
    border-radius: 5px;
    margin: 0 5px;
}

table{
    position: relative;
    padding-top: 2px;
}

td.carac{
    font-family: "Sriracha", cursive;
    font-size: 15px;
    text-align: left;
    width: 100px;
    margin: 0;
    padding: 0 15px;
}

td.verif{
    width: 23px;
    border-radius: 9px;
}

td.vdd{
    background-color: #441b23;
    border: 1px solid #1d0801;
}

td.fal{
    background-color: #884149;
    border: 1px solid #000000;
}

div#botao{
    width: 80px;
    margin: 100px auto 0 auto;
}

a{
    text-decoration: none;
    color: #fefee2;
}

a > button{
    font-family: "Sriracha", cursive;
    font-size: 18px;
    padding: 7px 14px;
    border-radius: 10px;
    box-shadow: 4px 8px 10px #0f0f0f;
    background-color: #441b23;
    color: #fefee2;
}

a > button:hover{
    cursor: pointer;
    background-color: #fefee2;
    color: #441b23;
}

div.imgfundo{
    position: absolute;
    width: 300px;
    height: 420px;
    margin: 1% 8%;
    background-image: url('../_img/goku_bg_rd.png');
    background-repeat: no-repeat;
    background-size: 230px 420px;
    opacity: 0.5;
}

div > h1{
    margin: 0;
    position: relative;
    font-family: "Sriracha", cursive;
}

div > p{
    position: relative;
    font-family: "Sriracha", cursive;
    text-align: justify;
    text-indent: 2.5em;
    margin: 20px 5%;
}